{% extends "base.html" %}
{% block title %}Delete Technique{% endblock%}
{% block content %}
<!-- Heading Column -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="masthead-text">
                <h1 class="post-title mt-1 mb-3">{{ user.username }}'s Liked Techniques</h1>
            </div>
        </div>
    </div>
</div>
<!-- Liked Videos Column -->
<div class="container-fluid w-75">
    <div class="row">
        {% for technique in liked_techniques %} 
        <div class="col-lg-4 col-12 col-sm-6 mb-3">
            <a href="{% url 'video_post' technique.slug %}" class="post-link">
                <div class="card h-100">
                    <div class="card-body hov-bord">
                        <div class="image-container">
                            <img class="card-img-top" src="{{ technique.thumbnail.url }}" alt="{{ post.thumbnail_alt_text }}">
                        </div>
                        <div class="mt-1 mb-2">
                            <h4 class="card-title">{{ technique.title }}</h2>
                        </div>
                        <hr />
                        <p class="card-text h6"><i class="far fa-heart"></i>
                            {{ technique.total_likes }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}