{% extends "base.html" %}
{% block title %}Add Technique{% endblock%}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <!-- Add Technique Form -->
    <form method="POST" action="" class="p-2" enctype='multipart/form-data'>
        <h1> Create Technique</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn form-btn mb-3">Create Technique</button>
        </div>
    </form>
</div>
{% endblock %}