{% extends "base.html" %} {% block content %}
<!-- Search bar -->
<form action="GET" action="{% url 'index' %}">
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<!-- Keyword Dropdown -->
<div class="dropdown">
    <button class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Keywords
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<!-- Blog Entries Column -->
<div class="col-12 mt-3 left">
  <div class="row">
    {% for post in post_list %} 
    <div class="col-md-4">
        <div class="card mb-4 h-100">
            <div class="card-body">
                <div class="image-container">
                    <img class="card-img-top" src="{{ post.thumbnail }}">
                </div>
                <a href="#" class="post-link">
                    <h4 class="card-title">{{ post.title }}</h2>
                </a>
                <hr />
                <p class="card-text text-muted h6"><i class="far fa-heart"></i>
                    {{ post.number_of_likes }}</p>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="row">{% endif %} {% endfor %} {% endblock %}</div>
</div>
