{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock%}
{% block content %} {% load crispy_forms_tags %}
<!-- Heading and Keywords Section -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="masthead-text">
                <h1 class="post-title mt-1 mb-2">{{ post.title }}</h1>
                <span class="keywords"><strong>Keywords:</strong>
                    {% for keyword in post.keywords.all %}
                    {{ keyword.name }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Embedded video Section -->
<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-2 left top">
      <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            width="560"
            height="315"
            src="{{ post.vid_url }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>

        <p class="card-text">{{ post.description | safe }}</p>
        <div class="row mb-1">
          <div>
            <strong>
              {% if user.is_authenticated %}
              <form class="d-inline" action="{% url 'LikedPost' post.slug %}" method="POST">
                {% csrf_token %} {% if liked %}

                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="fas fa-heart mr-1"></i>
                </button>

                {% else %}

                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="far fa-heart mr-1"></i>
                </button>

                {% endif %}
              </form>
              {% else %}
              <span><i class="far fa-heart mr-1"></i></span>
              {% endif %}
              <span class="mr-4">{{ post.total_likes }}</span>
            </strong>
          </div>
          <div>
            {% with comments.count as total_comments %}
            <strong class="mr-1"
              ><i class="far fa-comments mr-2"></i>
              {{ total_comments }}
            </strong>
            {% endwith %}
          </div>
        </div>
        <div class="row">
            {% if user.is_superuser %}
            <a href="{% url 'edit_technique' post.slug %}" class="btn form-btn mr-2 mb-1">Edit Technique</a>
            <a href="{% url 'delete_technique' post.slug %}" class="btn btn-danger mb-1">Delete Technique</a>
            {% endif %}
          </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr />
    </div>
</div>
<!-- Add Comment Section -->
  <div class="row">
    <div class="col-md-12 card mt-3">
        {% if commented %}
        <div class="alert alert-success mt-2" role="alert">
          Your comment is awaiting approval
        </div>
        {% else %} {% if user.is_authenticated %}

        <h3>Leave a comment:</h3>
        <p class="post-as">Posting as: {{ user.username }}</p>
        <form method="post">
          {{ comment_form | crispy }} {% csrf_token %}
          <button type="submit" class="btn form-btn mb-3">Submit</button>
        </form>
        {% endif %} {% endif %}
      </div>
  </div>
  <!-- Display Comment Section -->
  <div class="row">
    <div class="col-md-12 card mb-4 mt-3">
        <h3>Comments:</h3>
        <div class="card-body">
          {% for comment in comments %}
          <div class="comments" style="padding: 10px">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class="text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
              wrote:
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
{% endblock content %}
